.btn-animation {
    -webkit-animation: toggle-btn 1s infinite linear;
    animation: toggle-btn 1s infinite linear;
}

@-webkit-keyframes toggle-btn {
    0% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
    }

    100% {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }

}